# Compiled Files #
##################
*.pyc

# Temporary Files #
###################
*.swp

# Python 3.2 Cache Folder #
###########################
/__pycache__/*
/NeoNews/__pycache__/*

# Database Files #
##################
*.sqlite3
